/*  HEADER  */
.header{
    width: 100%;
    background-color: rgb(25, 45, 73);
    margin: 3rem 0;
    height: 300px;
    box-shadow: 0px 0px 30px rgb(0, 0, 0, .7);
    position: relative;
    display: flex;
}
.title__photo{
    right: -10%;
    height: 100%;
    width: 70%;
    position: absolute;
    z-index: 20;
}
.title__photo2{
display: none;
}
.header__background{
    height: 100%;
    width: 40%;
    position: relative;
    z-index: 90;
}
.title__name{
    position: absolute;
    z-index: 100;
    padding-left: 2rem;
    width: 650px;
    top: -10%;
}
.border{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(25,45,73,0) 0%, rgba(25,45,73,0) 30%, rgba(25,45,73,1) 40%, rgba(25,45,73,1) 45%, rgba(25,45,73,0) 55%, rgba(25,45,73,0) 100%);
    z-index: 100;
}

@media (max-width: 1100px){
    .header{
        height: 250px;
    }
    .title__name{
        top: -10%;
        width: 550px;
    }
    .title__photo{
        right: -12%;
    }
}
@media (max-width: 900px){
    .header{
        background-color: transparent;
        box-shadow: none;
        height: 300px;
        margin: 0;
        animation: move 2s forwards linear;
        transition: ease-in-out;
        justify-content: center;
        align-items: center;
    }
    .title__photo{
        display: none;
    }
    .title__photo2{
        display: block;
        width: 60%;
        height: auto;
        position: absolute;
        right: 5%;
    }
    .title__name{
        width: 50%;
        right: 50%;
        top: 20%;
    }
    @keyframes move{
        from{
            opacity: 0;
            right: -30%;
        }
        to{
            opacity: 1;
            right: -20%;
        }
    }
    .header__background{
        display: none;
    }
    .border{
        display: none;
    }
    
}
@media (max-width: 600px){
    .header{
        height: 250px;
        margin-bottom: -5%;
    }
    .title__name{
        width: 280px;
    }
}
@media (max-width: 380px){
    .header{
        height: 200px;
    }
    .title__name{
        width: 230px;
    }
}
@media (max-width: 300px){
    .header{
        margin-top: -10%;
        margin-bottom: -5%;
    }
    .title__name{
        width: 200px;
        top: 25%;
    }
}